@model Categoria
@{
    ViewData["Title"] = "Confirmação apagar";
}


<div class="text-center text-light d-grid gap-2 col-6 mx-auto">
    <h3>Deseja realmente apagar a categoria (@Model.Nome)?</h3>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-warning btn-block mt-3" role="button" asp-controller="Categoria" asp-action="Index">Cancelar</a>
    <a class="btn btn-outline-danger btn-block" role="button"
    asp-controller="Categoria" asp-action="ExcluirCategoriaDefinitivo" asp-route-id="@Model.Id_Categoria">Confirmar</a>
</div>
