@{
    Layout = "_Login";
    ViewData["Title"] = "Página Restrita";
}


    <p class="text-light">Você não tem permissão para acessar essa funcionalidade, 
        <a asp-controller="Home" asp-action="Index">voltar</a></p>

